h1{
    color: white; 
	text-align: center;
	font-size: 40em;
}

label{
    color: white; 
	text-align: left;
	font-size: 40em;
}

h2{
    color: white; 
	text-align: center;
	font-size: 5em;
}

.ui-btn{
	border-radius: 30px;
	
}