h1{
    color: white; 
	text-align: center;
	
}

h2{
	
    color: white; 
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	
}

p{
	
    color: white; 
	font-size: 20px;
}
text3{
	
    color: white; 
	font-size: 20px;
	font-weight: normal;
	font-style:	normal;
	text-align: justify;
}

textnegrita{
	
	color: white; 
	font-size: 20px;
	text-align: justify;
	font-style:	normal;
	text-decoration: underline;
}